{% extends 'base.html' %}
{% block title %}Crear cuenta{% endblock %}

{% block content%}
    <div class="max-w-md mx-auto p-6">
        <h1 class="text-3x1 font-bold mb-6">Crear cuenta</h1>
        <form method="POST" class="bg-white p-6 rounded shadow space-y-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                Registrarse
            </button>
              <p class="mt-4 text-center text-sm">
            ¿Ya tienes cuenta? <a href="{% url 'login' %}" class="text-blue-600 hover:underline">Login</a>
            </p>
        </form>
    </div>
{%  endblock %}