{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block content %}
    <ul>
        <div>      
                <li>
                    <a href="{% url 'create_product' %}">
                        Crear Producto
                    </a>
            
                </li>
                <li>
                    <a href="{% url 'catalog' %}">
                        Catalogo de Productos
                    </a>
            
                </li>
        </div>
    </ul>
{% endblock %}

