{% extends 'base.html' %}
{% block title %}Detalles del Producto{% endblock %}

{% block content %}
    <h1>Detalles de {{producto.product_name}}</h1>
    <ul class="list-group bg-white p-4 rounded shadow border border-shadow-900">
        <div class="block bg-white p-4 rounded shadow border border-shadow-900 hover:bg-gray-200">
            <li class="list-group-item">Model: {{producto.product_model}}</li>
            <li class="list-group-item">Precio: {{producto.product_price}}</li>
            <li class="list-group-item">Categoria: {{producto.category}}</li>
            <a ><button type="submit">Comprar</button></a>
            <a ><button type="submit">Agregar al carrito</button></a>
            <form method="post">
                {% csrf_token %}
                <p>
                    Cantidad: {% if form.quantity > stock_disponible %}
                        <p>Sin stock</p>
                    {% else %}
                    {{form.quantity}}
                    {% endif %}
                    {{stock_disponible}} disponible
                </p>
            </form>
        </div>
    </ul>
    



{% endblock %}