{% extends 'base.html' %}
{% block title %}Catalogo{% endblock %}

{% block content %}
    <h1 class="p-4">Catalogo de Productos</h1>
        <ul>
             <div class="bg-white p-4 rounded shadow border border-shadow-900">
                {% for product in productos %}
                    <li class="list-group-item">Nombre: {{product.product_name}}</li>
                    <li>Model: {{product.product_model}}</li>
                    <li class="mb-5">
                        <a href="{% url 'seller_detail_product' product.id %}">
                            Detalles
                        </a>
                        <a href="{% url 'update_product' product.id %}">
                            Actualizar
                        </a>
                        <a href="{% url 'delete_product' product.id %}">
                            Eliminar
                        </a>
                    </li>
                {% endfor %}
            </div>
        </ul>
    
{% endblock %}