{% extends 'base.html' %}

{% block content %}
    <ul>
        <div>
            <li>
                <a href="{% url 'product' %}">
                    Producto
                </a>
            </li>
            <li>
                <a href="{% url 'category' %}">
                    Categoria
                </a>
            </li>
            <li>
                <a href="{% url 'order' %}">
                    Pedido
                </a>
            </li>
            <li>
                 <a href="{% url 'catalog_link' %}">
                    Catalogo
                </a>    
            </li>
        </div>
    </ul>
{% endblock %}